/* -----------------------------CONFIGURAÇÕES GERAIS----------------------- */
* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #e5e5e5;
}
.selecionado {
  border: 5px solid #32b72f;
}
a {
  text-decoration: none;
  color: currentColor;
}

/* -----------------------------CONFIGURAÇÕES TOPO----------------------- */

.topo {
  width: 100%;
  height: 92px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #cf2b2b;
  position: fixed;
  top: 0px;
  box-shadow: 0 0 8px black;
  z-index: 1000;
}
.titulo {
  color: #ffffff;
  font-size: 44px;
  margin-left: 15px;
  font-family: "Righteous", cursive;
}
.titulo p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
}

/* -----------------------------CONFIGURAÇÕES OPÇÕES----------------------- */

.principal {
  margin: 122px 0px 100px 19px;
  font-family: "Roboto", sans-serif;
}
.principal h2 {
  color: #333333;
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 10px;
}
.pratos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}
.opcao {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 20px;
  width: 55%;
  height: 250px;
  background-color: #ffffff;
  margin: 0px 10px 5px 10px;
  padding: 8px;
  box-shadow: 0 0 5px rgb(192, 192, 192);
}
.opcao img {
  margin: 10px auto;
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
.opcao h3 {
  margin: 10px 0px 5px 0px;
  font-size: 16px;
  font-weight: 700;
}
.opcao p {
  color: #a6a6a6;
  font-size: 14px;
}
.preco {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.preco div {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.preco h3 {
  margin: 2px;
}
.preco ion-icon {
  margin-right: 10px;
  font-size: 20px;
  color: #333333;
}
.preco .counter {
  display: none;
}
.counter.selecionado {
  display: flex;
  border: none;
}

/* -----------------------------CONFIGURAÇÕES FINALIZAR----------------------- */

.finalizar {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.botao {
  font-size: 20px;
  color: #ffffff;
  border-radius: 30px;
  width: 354px;
  height: 61px;
  background-color: #cbcbcb;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.checkout {
  margin-top: 92px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkout h2 {
  color: #333333;
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 10px;
}
.final {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px 10px;
}
.botao2 {
  font-size: 20px;
  color: #32b72f;
  border-radius: 30px;
  width: 244px;
  height: 51px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hidden {
  display: none;
}
